body{
  font-family: 'Times New Roman', Times, serif;  
}
.animate-me{
  background-color:tomato;
  height: 200px;
  width: 200px;
  border: 10px;
}

@keyframes slide-left-to-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
.animate-me{
  animation: slide-left-to-right 2000ms;
  animation-timing-function: ease-out;
  animation-iteration-count: 4;
  /* animation-iteration-count: infinite; */
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner{
  margin-top: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #747f85; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: loading 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.breathe{
  height: 200px;
  width: 200px;
  margin-top: 100px;
  margin-left: 200px;
  background-color: teal;
  animation: expand-shrink 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}
@keyframes expand-shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}