
.u-measurments{
    font-size: 18px;
}

.half-em{
    background-color: tomato;
    font-size: 0.5em;
}
.one-em{
    font-size: 1em;
    background-color: yellowgreen;
}
.two-em{
    background-color: darkorange;
    font-size: 2em;
}
.three-em{
    background-color: darkseagreen;
    font-size: 3em;
}
.four-em{
    background-color: darkviolet;
    font-size: 4em;
}

  
.box {
    width: 50vw;
    height: 300px;
    background-color: yellowgreen;
    font-size: 40px;
    color: white;
  }
  