body{
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery{
  height: 350px;
  width: 450px;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image{
  height: 300px;
  width: 400px;
  /*transform rotate */
  /* transform: rotate(-10deg); */
  /*transform origin */
  /* transform-origin: 50% 50% 0;
  transform-origin: 20px 70%;
  transform-origin: top right;
  transform-origin: 300px 0; */

  /* transform translate */
  /* transform:translateX(60px); */
  /* transform: translateY(45px); */
  /* transform: translate(100px, 100px); */

   /* transform scale property*/
   /* transform: scaleX(1); */ 
   /* transform: scaleX(1.5);  */
   /* transform: scaleX(-.5);   */
  /* transform: scaleY(1.5); */
   /* transform: scaleY(-.5); */
   /* transform: scale(.5, 1.5);  */
   /* transform: scale(1.5);  */
  
    /* transform skew property*/
    /* transform: skewX(25deg); */
    /* transform: skewy(15deg); */
    /* transform: skew(25deg, 15deg);  */
}
.gallery1{
  margin-top: 100px;
}
.image2{
  transition: transform 2s ease-in;
  cursor: pointer;
}
.image2:hover{
  transform: scale(1.25) rotate(10deg);

}

